@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-brand: "Quicksand", serif;
  --shadow-new: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --color-brand: #3bb77e;
  --color-fblack: #253d4e;
  --font-inter: "Inter", serif;
}
.my-before {
  @apply before:content-[''] before:absolute before:h-[18px] before:w-[18px] before:left-0 before:top-[3px] before:border-2 before:border-slate-300 peer-checked:before:bg-[#3BB77E] peer-checked:before:border-[#3BB77E] after:content-[''] after:absolute after:w-[12px] after:h-[8px] after:left-[3px] after:top-[50%] after:translate-y-[-70%] after:border-l-[3px] after:border-b-[3px] after:border-white after:rotate-[-45deg];
}
.fashion-container {
  @apply container lg:max-w-[1530px] mx-auto px-3;
}
.swiper-button-prev,
.swiper-button-next {
  @apply transition-all !h-9 !w-9 border-2 border-brand bg-transparent hover:bg-brand text-white rounded;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  @apply !text-sm text-white;
}
.swiper-pagination-bullet {
  @apply transition-all !h-3 !w-3 !bg-slate-500 !opacity-90 !border-0;
}
.swiper-pagination-bullet-active {
  @apply scale-[1.2] !bg-brand;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
